
.btn{
  background-color:rgb(30, 143, 255);
}


.btn:hover{
    color: rgb(235, 235, 235);
    font-size: larger;
    padding: 5px;
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
}

.nav{
 text-decoration: none;
 color: white;
 background-color: DodgerBlue;
 padding: 10px;
 font-family: Arial;
}
.link{
  color: white;
  text-decoration: none;

}
.link:hover{

 cursor: pointer;
  color: rgb(202, 202, 11);
}
.nav:hover{
  cursor: pointer;
  color: yellow;
}

.sea{
  color: rgb(245, 27, 27);
  background-color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
}

.contact{
  padding: 10px;
  margin: 10px;
}

.space{
  padding: 10px;
  margin: 10px
}

