
.btn{
  background-color:rgb(30, 143, 255);
  color:white;
}


.btn:hover{
    color: rgb(235, 235, 235);
   
    padding: 5px;
    cursor: pointer;
    background-color: black;
}

.nav{
 text-decoration: none;
 color: white;
 background-color: DodgerBlue;
 padding: 10px;
 font-family: Arial;
}
.link{
  color: white;
  text-decoration: none;

}
.link:hover{

 cursor: pointer;
  color: rgba(0, 0, 0, 0.582);
}
.nav:hover{
  cursor: pointer;
  color: black;
  text-decoration-line: underline;
}

.sea{
  color: rgb(245, 27, 27);
  background-color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
}

.contact{
  padding: 10px;
  margin: 10px;
}

.space{
  padding: 10px;
  margin: 10px
}
.cerd{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cerd:hover{
 
  border-style:solid;
   border-radius:10px;
   border-color:DodgerBlue
}